@import 'blocs/slick';
@mixin blur {
    content: '';
    position: absolute;
    width: 970px;
    height: 970px;
    background: rgba(8, 92, 248, 0.3);
    filter: blur(250px);
    z-index: -10;
}

@import 'blocs/header';
@import 'blocs/main';
@import 'blocs/signs';
@import 'blocs/about';
@import 'blocs/erectogen';
@import 'blocs/doctor';
@import 'blocs/reviews';
@import 'blocs/footer';

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
    background: #06060c;
    position: relative;
    overflow-x: hidden !important;
}

.container {
    width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    color: #fff;

    &__fz24 {
        position: relative;
        font-weight: 700;
        font-size: 24px;
        padding-left: 25px;
        &::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            top: 50%;
            left: 0px;
            transform: translateY(-50%);
            border-radius: 50%;
            background: #0860f8;
        }
    }

    &__fz28 {
        font-weight: 700;
        font-size: 28px;
        text-align: center;
    }
}

.slick-next,
.slick-prev {
    border: none;
    outline: none;
    background-color: transparent;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -100px;
    position: absolute;
    border: 1px solid #0860f8;
    &:focus {
        outline: 0;
        outline-offset: 0;
    }
}
.slick-prev {
    left: 20%;
    @media (max-width: 768px) {
        left: 10%;
    }
}
.slick-next {
    right: 20%;
    @media (max-width: 768px) {
        right: 10%;
    }
}
.slick-dots {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);

    li {
        button {
            background: rgba(255, 255, 255, 0.25);
            width: 10px;
            height: 10px;
            border-radius: 100%;
            font-size: 0;
            border: none;
        }
        &.slick-active {
            button {
                background: #0860f8;
                font-size: 0;
            }
        }
    }
}

@import 'blocs/media';
