.header {
    height: 100px;
    width: 100%;
    padding: 24px 20px;
    z-index: 100;

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        gap: 18px;
        width: 230px;
        z-index: 777;
        &:nth-child(4) {
            width: 200px;
        }
    }

    &__descr {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #fff;
        span {
            font-weight: 600;
        }
    }
}
